<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Computer specs</title>
</head>

<style>
    ul {
        text-align: left;
        list-style-type: none;
    }
    
    body {
        text-align: center;
        background-color: #8C92AC;
    }
    
    #header {
        background-color: #63666A;
    }
</style>

<body>
    <div id="header">
        <h1>Computer Name</h1>
        <h2>General Specs</h2>
    </div>
    <ul>
        <li>Status:</li>
        <li>IP Adress:</li>
        <li>OS Version</li>
        <li>CPU:</li>
        <li>Ram Size:</li>
    </ul>
</body>

</html>